<div class="row" id="bodyRow">
   
    <div class="col-sm-4">
        <div id="notDevourList">

            <h2>Not Yet Devoured</h2>

            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burger-block devour=false}}
                    {{/unless}}
                {{/each}}

            </ul>
    
        </div> 
    </div>

    <div class="col-sm-4">

        <div id="devourList">

            <h2>Devoured</h2>

            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        {{> burgers/burger-block devour=true}}
                    {{/if}}
                {{/each}}
            </ul>    

        </div>

    </div>

    <div class="col-sm-4" id="addBurgerDiv">

        <form class="form-group" id="create-form">
            <h2>Add a Burger</h2>

            <div class="form-group">
                <label for="burg">Burger Name:</label>
                <input type="text" id="burg" name="name" class="form-control">
            </div>

            <div class="form-group">
                <label for="devoured">Have you devoured it?</label><br>

                <input type="radio" name="devouredStatus" value="1" class="form-check-input">
                <label for="devouredStatus" class="radioLabel">Yes, it has been devoured!</label><br>

                <input type="radio" name="devouredStatus" value="0" class="form-check-input">
                <label for="devouredStatus" class="radioLabel">No, it has not been devoured.</label><br> 

            </div>

            <button class="btn btn-primary" type="submit">Add Burger</button>

        </form>
    </div> 

</div>    









