* {
	box-sizing: border-box;
	margin: 0px;
}

html,
body {
	height: 100vh;
	width: 100vw;
}
/* =======================  Row Contain {{Body}} =========================*/

#bodyRow {
	height: 80vh;
	width: auto;
}

/* =======================  Jumbtron =========================*/

.jumbotron.jumbotron-fluid {
	background-color: #384b60;
}
h1,
h3 {
	color: #f8f7f2;
}

/* =======================  Divs for Add Form and Both Lists =========================*/
#create-form,
#devourList,
#notDevourList {
	width: auto;
	padding: 20px;
	border: 1px solid #b6b6b6;
	border-radius: 5px;
	background-color: #b6b6b6;
}
h2 {
	margin-bottom: 20px;
}
/* =======================  Add Burger Form =========================*/
.form-check-input {
	margin-left: 2px;
	/* padding-left: 20px; */
}
.radioLabel {
	margin-left: 30px;
}
.form-group {
	background-color: white;
	border-radius: 5px;
	padding: 10px;
}
/* =======================  Devour & Not Devour Lists, ol & li =========================*/
ul {
	list-style-position: inside;
	padding-left: 0px;
}
li {
	background-color: white;
	border-radius: 5px;
	margin: 10px;
	padding-left: 5px;
	width: 100%;
}
/* =======================  Devour Button =========================*/
#change-devour {
	margin-left: 10px;
}

.btn.btn-primary {
	background-color: #384b60;
	border-color: #384b60;
	color: #f8f7f2;
}
