<li class="clearfix">
    {{burger_name}}
    {{#unless devoured}}
    <button class="btn btn-primary burgerDevour float-right" data-id="{{id}}" data-devoured="{{devoured}}">
        Devour
        
    </button>
    {{/unless}}

</li>

